.class-1 {
  background: white; }

.class-2 {
  background: #fcfcfc; }

.class-3 {
  background: #fafafa; }

.class-4 {
  background: #f7f7f7; }

.class-5 {
  background: whitesmoke; }

.class-6 {
  background: #f2f2f2; }

.class-7 {
  background: #f0f0f0; }

.class-8 {
  background: #ededed; }

.class-9 {
  background: #eaeaea; }

.class-10 {
  background: #e8e8e8; }

.class-11 {
  background: #e5e5e5; }

.class-12 {
  background: #e3e3e3; }

.class-13 {
  background: #e0e0e0; }

.class-14 {
  background: #dedede; }

.class-15 {
  background: #dbdbdb; }

.class-16 {
  background: #d8d8d8; }

.class-17 {
  background: #d6d6d6; }

.class-18 {
  background: lightgray; }

.class-19 {
  background: #d1d1d1; }

.class-20 {
  background: #cecece; }

.class-21 {
  background: #cbcbcb; }

.class-22 {
  background: #c9c9c9; }

.class-23 {
  background: #c6c6c6; }

.class-24 {
  background: #c4c4c4; }

.class-25 {
  background: #c1c1c1; }

.class-26 {
  background: #bfbfbf; }

.class-27 {
  background: #bcbcbc; }

.class-28 {
  background: #b9b9b9; }

.class-29 {
  background: #b7b7b7; }

.class-30 {
  background: #b4b4b4; }

.class-31 {
  background: #b2b2b2; }

.class-32 {
  background: #afafaf; }

.class-33 {
  background: #adadad; }

.class-34 {
  background: #aaaaaa; }

.class-35 {
  background: #a7a7a7; }

.class-36 {
  background: #a5a5a5; }

.class-37 {
  background: #a2a2a2; }

.class-38 {
  background: #a0a0a0; }

.class-39 {
  background: #9d9d9d; }

.class-40 {
  background: #9b9b9b; }

.class-41 {
  background: #989898; }

.class-42 {
  background: #959595; }

.class-43 {
  background: #939393; }

.class-44 {
  background: #909090; }

.class-45 {
  background: #8e8e8e; }

.class-46 {
  background: #8b8b8b; }

.class-47 {
  background: #898989; }

.class-48 {
  background: #868686; }

.class-49 {
  background: #838383; }

.class-50 {
  background: #818181; }

.class-51 {
  background: #7e7e7e; }

.class-52 {
  background: #7c7c7c; }

.class-53 {
  background: #797979; }

.class-54 {
  background: #767676; }

.class-55 {
  background: #747474; }

.class-56 {
  background: #717171; }

.class-57 {
  background: #6f6f6f; }

.class-58 {
  background: #6c6c6c; }

.class-59 {
  background: #6a6a6a; }

.class-60 {
  background: #676767; }

.class-61 {
  background: #646464; }

.class-62 {
  background: #626262; }

.class-63 {
  background: #5f5f5f; }

.class-64 {
  background: #5d5d5d; }

.class-65 {
  background: #5a5a5a; }

.class-66 {
  background: #585858; }

.class-67 {
  background: #555555; }

.class-68 {
  background: #525252; }

.class-69 {
  background: #505050; }

.class-70 {
  background: #4d4d4d; }

.class-71 {
  background: #4b4b4b; }

.class-72 {
  background: #484848; }

.class-73 {
  background: #464646; }

.class-74 {
  background: #434343; }

.class-75 {
  background: #404040; }

.class-76 {
  background: #3e3e3e; }

.class-77 {
  background: #3b3b3b; }

.class-78 {
  background: #393939; }

.class-79 {
  background: #363636; }

.class-80 {
  background: #343434; }

.class-81 {
  background: #313131; }

.class-82 {
  background: #2e2e2e; }

.class-83 {
  background: #2c2c2c; }

.class-84 {
  background: #292929; }

.class-85 {
  background: #272727; }

.class-86 {
  background: #242424; }

.class-87 {
  background: #212121; }

.class-88 {
  background: #1f1f1f; }

.class-89 {
  background: #1c1c1c; }

.class-90 {
  background: #1a1a1a; }

.class-91 {
  background: #171717; }

.class-92 {
  background: #151515; }

.class-93 {
  background: #121212; }

.class-94 {
  background: #0f0f0f; }

.class-95 {
  background: #0d0d0d; }

.class-96 {
  background: #0a0a0a; }

.class-97 {
  background: #080808; }

.class-98 {
  background: #050505; }

.class-99 {
  background: #030303; }

.class-100 {
  background: black; }

/*# sourceMappingURL=colors.css.map */
